body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}
#container {
    display: flex;
    flex-direction: column;
    border: outset black;
    padding: 10px;
    align-items: center;
    min-width: 50vh;
}
input {
    margin: 10px;
}
